.music{
    background-color: tomato;
    width: 550px;
    height: 225px;
    padding:0;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
 }
 
 .musica{
    margin-top: 76px;
    background-color: green;
    width: 400px;
    height:400px;
 }
 section img{
    min-width: 400px;
    min-height: 400px;
 }
 
 .img{
    min-width: 50px;
    min-height: 50px;
    display:inline;
    padding:0;
    padding-top: 5px;
 }